@import '../../App.scss';


.navigation__dark-swtich {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 2em;
    height: 1em;
  }
  
  /* Hide default HTML checkbox */
  .navigation__dark-swtich input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The navigation__dark-slider */
  .navigation__dark-slider {
    position: absolute;
    cursor: pointer;
    inset: 0;
    background: #9fccfa;
    border-radius: 50px;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .navigation__dark-slider:before {
    position: absolute;
    content: "";
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1em;
    width: 1em;
    inset: 0;
    background-color: white;
    border-radius: 50px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.4);
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .navigation__dark-swtich input:checked + .navigation__dark-slider {
    background: #0974f1;
  }
  
  .navigation__dark-swtich input:focus + .navigation__dark-slider {
    box-shadow: 0 0 1px #0974f1;
  }
  
  .navigation__dark-swtich input:checked + .navigation__dark-slider:before {
    transform: translateX(1em);
  }

.navigation{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: $piramy-blue;
    position: relative;
    &__right{
        max-width: 250px;
        justify-content: space-between;
        display: flex;
        align-items: center;
        width: 100%;
    }
    &__site-name{
        font-size: 24px;
        line-height: 24px;
        font-weight: 600;
        font-family: 'Red Hat Display', sans-serif;
        color: #fff;
    }
    &__hamburger{
        background-color: transparent;
        border: none;
        cursor: pointer;
        display: flex;
        padding: 0;
        .line {
            fill: none;
            stroke: #fff;
            stroke-width: 6;
            transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
              stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
          }
          .line1 {
            stroke-dasharray: 60 207;
            stroke-width: 6;
          }
          .line2 {
            stroke-dasharray: 60 60;
            stroke-width: 6;
          }
          .line3 {
            stroke-dasharray: 60 207;
            stroke-width: 6;
          }
        &--active{
          .line1 {
            stroke-dasharray: 90 207;
            stroke-dashoffset: -134;
            stroke-width: 6;
          }
           .line2 {
            stroke-dasharray: 1 60;
            stroke-dashoffset: -30;
            stroke-width: 6;
          }
           .line3 {
            stroke-dasharray: 90 207;
            stroke-dashoffset: -134;
            stroke-width: 6;
          }
        }
       

    }
    &__left{
        display: flex;
        align-items: center;
        gap: 16px;
    }
    &__notifications{
        &:hover{
            cursor: pointer;
        }
        svg{
            path{
                stroke: #fff;
            }
        }
    }
    &__account{
        &:hover{
            cursor: pointer;
        }
        svg{
            path{
                fill: #fff;
            }
        }
    }
}