@import '../../App.scss';


.navigation__dark-swtich {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 2em;
    height: 1em;
  }
  
  /* Hide default HTML checkbox */
  .navigation__dark-swtich input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The navigation__dark-slider */
  .navigation__dark-slider {
    position: absolute;
    cursor: pointer;
    inset: 0;
    background: #9fccfa;
    border-radius: 50px;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .navigation__dark-slider:before {
    position: absolute;
    content: "";
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1em;
    width: 1em;
    inset: 0;
    background-color: white;
    border-radius: 50px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.4);
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .navigation__dark-swtich input:checked + .navigation__dark-slider {
    background: #0974f1;
  }
  
  .navigation__dark-swtich input:focus + .navigation__dark-slider {
    box-shadow: 0 0 1px #0974f1;
  }
  
  .navigation__dark-swtich input:checked + .navigation__dark-slider:before {
    transform: translateX(1em);
  }

.navigation{
    width: 100vw;
    &__wrapper{
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: space-between;
      padding: 10px 20px;
      background-color: $piramy-blue;
      position: relative;
      z-index: 10;
    }
    &__right{
        max-width: 250px;
        justify-content: space-between;
        display: flex;
        align-items: center;
        width: 100%;
    }
    &__site-name{
        font-size: 24px;
        line-height: 24px;
        font-weight: 600;
        font-family: 'Red Hat Display', sans-serif;
        color: #fff;
    }
    &__hamburger{
        background-color: transparent;
        border: none;
        cursor: pointer;
        display: flex;
        padding: 0;
        .line {
            fill: none;
            stroke: #fff;
            stroke-width: 6;
            transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
              stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
          }
          .line1 {
            stroke-dasharray: 60 207;
            stroke-width: 6;
          }
          .line2 {
            stroke-dasharray: 60 60;
            stroke-width: 6;
          }
          .line3 {
            stroke-dasharray: 60 207;
            stroke-width: 6;
          }
        &--active{
          .line1 {
            stroke-dasharray: 90 207;
            stroke-dashoffset: -134;
            stroke-width: 6;
          }
           .line2 {
            stroke-dasharray: 1 60;
            stroke-dashoffset: -30;
            stroke-width: 6;
          }
           .line3 {
            stroke-dasharray: 90 207;
            stroke-dashoffset: -134;
            stroke-width: 6;
          }
        }
       

    }
    &__left{
        display: flex;
        align-items: center;
        gap: 16px;
    }
    &__search-bar{
      position: relative;
      display: flex;
      align-items: center;
      position: relative;
      input{
        padding: 4px 20px;
        padding-left: 10px;
        z-index: 1;
        position: relative;
        border: none;
        font-size: 16px;
        &::placeholder{
          color: #000;
        }
      }

    }
    &__search-mobile{
      display: none;
    }
    &__search-icon{
      position: absolute;
      background-color: transparent;
      border: none;

      top: 50%;
      z-index: 2;
      right: 10px;
      transform: translateY(-50%);
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover{
        cursor: pointer;
      }
    }
    &__notifications{
        &:hover{
            cursor: pointer;
        }
        svg{
            path{
                stroke: #fff;
            }
        }
    }
    &__user-options{
      display: flex;
      position: absolute;
      flex-direction: column;
      bottom: -68px;
      right: 0px;
      background-color: #fff;
      padding: 10px;
      width: 150px;
      transition: transform .6s;
      transform: scaleY(0);
      transform-origin: top;
      &--active{
        transform: scaleY(100%);
      }
      span{
        &:hover{
          cursor: pointer;
        }
      };
    }
    &__account{
      position: relative;
        &:hover{
            cursor: pointer;
        }
        svg{
            path{
                fill: #fff;
            }
        }
    }
    @media (max-width: 768px) {
      &__search-mobile{
        display: flex;
      }
      &__notifications{
        display: none;
      }
      &__search-bar{
        transform: translateX(-100%);
        
        transition: transform .6s;
        position: absolute;
        top: 56px;
        left: 0px;
        border-bottom: solid 1px black;
        border-right: solid 1px black;
        padding: 0px;
        width: 100%;
        z-index: 10;
        input{
          width: 100%;
          height: 100%;
        }
        &--active{
          transform: translateX(0%);
        }
      }
      &__right{
        max-width: fit-content;
        gap: 20px;
      }
    }
    @media (max-width: 768px){
      &__wrapper{
        padding: 10px;
      }
      &__site-name{
        font-size: 18px;
        line-height: 18px;
      }
    }
}